{% extends "MKAdminBundle::pagelayout.html.twig" %}

{% block contentHeader %}
    <section class="content-header">
    <h1>
        Product Color
        <small>Delete product color</small>
    </h1>
</section>
{% endblock %}

{% block content %}
    {{ "product.color.form.delete.confirm"|trans({}, 'admin_messages', 'MKAdminBundle') }}
    <form action="{{ path('mk_admin_product_color_delete', {'productColorId': productColor.id}) }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}

